:root {
  --primary-color: rgb(176, 223, 241); 
  --secondary-color: grey; 
}
body {
  margin: 0; 
  padding: 0; 
  background-color: var(--primary-color)

}
.App {
  text-align: center;
  margin: 30px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .table {
  border-collapse: collapse;  
  width: 100%;
  height: 6vh; 

  
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dad9eb;
  color: white;
  text-align: center;

}
.table tr:nth-child(even) {
  background: beige; 
}
.table td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #696870;
  color: white;
  text-align: center;
  border: 1px solid white} */
  h1 {
    color: brown; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .form .search {
    width: 80%;
    padding: 10px;
    border-radius: 15px; 
    background: transparent; 
    text-align: center; 
    margin: 10px; 
    
  }
  .form input:hover {
    cursor: pointer; 
  }
  .btn {
    background-color: transparent;
    padding: 5px 10px; 
    border-radius: 4px; 
    font-size: 1rem; 
    border: 1px solid black; 
  }
.btn:hover {
  color: tomato; 
  border: 1px solid tomato; 
  cursor: pointer; 
}
  .addTransaction {
    margin: 10px; 
}
  .transactionInput input {
    margin: 5px; 
    padding: 5px; 
    border-radius: 5px; 
    background: transparent; 
   }
   .transactionInput button {
    padding: 10px; 
    margin: 10px; 
    width: 5rem; 
    font-size: 1rem; 
    background-color: transparent; 
    border: 1px solid black; 
    border-radius: 4px; 
   

   }
   .transactionInput button:hover {
    background-color: var(--primary-color); 
    color: tomato; 
    cursor: pointer; 
    border-radius: 10px; 
    border: 1px solid tomato; 
  

 
 
   }
  
   table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table {
    margin-top: 20px;
}